$background: #27303B;
$light-blue: #404F61;
$grey: #464646;
$neon-green: #58FF9B;
$caspar-color: #231F20;
$connected-green: #04D800;
$disconnected-red: #8D1C1C; 

$font-stack: 'Montserrat', sans-serif;

$drop-shadow: 0 0 15px 0 rgba(0,0,0,.35);