@import './_variables';
.options {
    align-items: center;
    display: inherit;
    fill: $background;
    margin-bottom: .5em;

    label, select, button {
        color: white;
        font-weight: 300;
        margin: 0;
    }

    label, select {
        margin-right: 1em;
    }

    select {
        background-color: $background;
    }

    svg {width: 1.75em;}

    .right {
        align-items: inherit;
        display: inherit;
        margin-left: auto;
        padding: 0;
    }
}

.configuration {
    background-color: $grey;
    box-shadow: 0 0 15px rgba($color: #000000, $alpha: .25);
    flex: 1;
    overflow: inherit;

    h2 {
        color: white;
        font-weight: 300;
        margin: 0;
    }

    select {
        background-color: $grey;
    }

    .card {
        align-items: center;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        display: grid;
        grid-template-columns: 1fr 2fr min-content;
        grid-column: span 3;
        grid-gap: .5em;
        margin: 1vh 1vw;
        padding: 1vh .5vw;

        h2, h2 button {
            align-items: center;
            display: flex;
        }

        h2 {grid-column: span 3;}

        label {
            grid-column: 1;
        }

        svg, .checkbox, select, input {
            grid-column: 2;
        }

        svg {width: 1.5rem;}

        .checked::after {
            font-size: 1.25em;
            margin-top: -.15em;
            margin-left: 0.15em;
        }

        .validate {
            grid-column: 3;
            justify-self: center;
        }

    }
}