@import './_variables';

header {
    align-items: center;
    background-color: $blue;
    color: white;
    display: flex;
    padding: 1vh 1vw;
    
    * {font-weight: 300;}


    h1 {
        margin: 0;
    }

    button {
        align-items: inherit;
        background-color: rgba($color: #000000, $alpha: 0);
        border: none;
        color: white;
        display: inherit;
        font-size: 1.25em;
        font-family: $font-stack;
        margin-left: auto;
    }

    svg {
        margin: 0 1vw;
        width: 2vw;
    }

    p {
        margin: 0;
    }
}